<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include ./includes/header.ejs %>
    <title>Alugar</title>
</head>
<body>
    <% include ./includes/navbar.ejs %>
    <h1>Pesquise um imóvel para alugar</h1>
</body>
</html>