<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<% include includes/header %>
<style>

     .fundologo{
  background: linear-gradient(to top, transparent, #979696, transparent);
  float:left;
    }
    #fundologo{
  background: linear-gradient(to bottom, #979696, transparent,#979696);
  width: 15%;
    }
    #fundologo1{
  background: linear-gradient(to top, transparent, #979696, transparent);
  width: 18%;
    }
  #fundobg{
    background-image:url("images/bsb2.jpg");
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    
  }
  #colortext{
    color:white;  
  }
  .gradient-buttons .btn {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.15) 51%, rgba(0,0,0,0.05));
    background-repeat: repeat-x;
}

.card {
  margin: 10px;
  box-shadow: 0 5px 10px -2.5px;
}
.plano-btn-index{
  border:1px solid white;
  background: linear-gradient(to bottom, transparent , #979696 ,transparent);
  height:70px;
  width:220px;
  margin:5px;
  color:black;
  font-weight:bold;
  font-size:30px;
}
</style>

<body>
    <body class="text-center" id="fundobg">

        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
            <div class="inner">
              <div id="logotopo" align="left"><img class="fundologo" src="images/plano.png"></div>
              <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" id="colortext" href="#">Quem somos</a>
                <a class="nav-link" id="colortext" href="#">Nossa franquia virtual</a>
                <a class="nav-link" id="colortext" href="#">Seja nosso corretor associado</a>
              </nav>
            </div>
          </header>
    
          <div class="container">
              <button type="button" class="plano-btn-index">Secondary</button>
              <button type="button" class="plano-btn-index">Secondary</button>
              <button type="button" class="plano-btn-index">Secondary</button>
              <button type="button" class="plano-btn-index">Secondary</button>
              
            </div>
    
          <footer class="mastfoot mt-auto">
            <div class="inner">
              <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </footer>
        </div>
</body>
</html>